{% extends "base.html" %}

{% block baslik %}Ürünler{% endblock %}

{% block icerik %}
    <h2> {{ baslik }} </h2>
    <ul>
        {% for u in urunler %}
            {% if u.fiyat > 500 %}
            <li> <b> {{ u.ad }} - {{ u.fiyat }} TL </b> </li>
            {% else %}
            <li> {{ u.ad }} - {{ u.fiyat }} TL </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block scriptler %}
<script src="{{ url_for('static', filename='js.js') }}"></script>
{% endblock %}